<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>LetrasUBA_Bot - Edición</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
      body {
        font-family: monospace;
        color: #444;
      }
      .item {
        cursor: pointer;
      }
      .bold {
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">LetrasUBA_Bot<span class="d-none d-md-inline"> - </span><br class="d-md-none"/>Editor de menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Acerca del editor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cómo utilizar el editor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container px-5">
      <script type="text/x-template" id="item-template">
        <li>
          <div
            :class="{bold: isFolder}"
            @click="toggle"
            @dblclick="makeFolder">
            {{ item.name }}
            <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          </div>
          <ul v-show="isOpen" v-if="isFolder">
            <tree-item
              class="item"
              v-for="(child, index) in item.children"
              :key="index"
              :item="child"
              @make-folder="$emit('make-folder', $event)"
              @add-item="$emit('add-item', $event)"
            ></tree-item>
            <li class="add" @click="$emit('add-item', item)">+</li>
          </ul>
        </li>
      </script>
    </head>
    <body>
      <p>(You can double click on an item to turn it into a folder.)</p>
  
      <!-- the demo root element -->
      <ul id="demo">
        <tree-item
          class="item"
          :item="treeData"
          @make-folder="makeFolder"
          @add-item="addItem"
        ></tree-item>
      </ul>
  
      <script>
        // demo data
        var treeData = {
          name: "My Tree",
          children: [
            { name: "hello" },
            { name: "wat" },
            {
              name: "child folder",
              children: [
                {
                  name: "child folder",
                  children: [{ name: "hello" }, { name: "wat" }]
                },
                { name: "hello" },
                { name: "wat" },
                {
                  name: "child folder",
                  children: [{ name: "hello" }, { name: "wat" }]
                }
              ]
            }
          ]
        };
  
        // define the tree-item component
        Vue.component("tree-item", {
          template: "#item-template",
          props: {
            item: Object
          },
          data: function() {
            return {
              isOpen: false
            };
          },
          computed: {
            isFolder: function() {
              return this.item.children && this.item.children.length;
            }
          },
          methods: {
            toggle: function() {
              if (this.isFolder) {
                this.isOpen = !this.isOpen;
              }
            },
            makeFolder: function() {
              if (!this.isFolder) {
                this.$emit("make-folder", this.item);
                this.isOpen = true;
              }
            }
          }
        });
  
        // boot up the demo
        var demo = new Vue({
          el: "#demo",
          data: {
            treeData: treeData
          },
          methods: {
            makeFolder: function(item) {
              Vue.set(item, "children", []);
              this.addItem(item);
            },
            addItem: function(item) {
              item.children.push({
                name: "new stuff"
              });
            }
          }
        });
      </script>
    </div>
    


    <div id="app"></div>
    
    <!-- App js -->    
    <script type="module" src="/src/main.js"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>